@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    <label>Username:</label>
    <br />
    <input type="text" name="username" />
    <br />

    <label>Password:</label>
    <br />
    <input type="password" name="password" />
    <br />
    <br />

    <input type="submit" value="Login" class="btn btn-primary" />
}

@if (ViewBag.Error != null)
{
    <p style="color:red;">@ViewBag.Error</p>
}
